<!DOCTYPE html>
<html lang="en" ng-app="schedulePage">
<head>
    <title>Schedule Overview</title>
    <link href="node_modules/bootstrap/dist/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="app.css" rel="stylesheet">
</head>
<body>
<ul class="nav nav-pills" ng-controller="NavCtrl">
    <li ng-class="{active: isSelected(tab)}" ng-repeat="tab in tabs">
        <a href="#/{{tab.toLowerCase()}}" ng-click="setSelectedTab(tab)">{{tab}}</a>
    </li>
</ul>
<h2 class="text-center">CSSE490-01 Web Services Development</h2>

<div ng-view class="my-container"></div>


<script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
<script type="text/javascript" src="node_modules/angular-sanitize/angular-sanitize.min.js"></script>
<script type="text/javascript" src="node_modules/angular-route/angular-route.min.js"></script>
<script type="text/javascript" src="app.js"></script>
</body>
</html>